

<form  action="{{request.path}}" method="get" class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
    <div class="form-group form-check">
        <input style="display:none" name="description" type="checkbox" class="form-check-input" id="description">
    </div>
    <div class="form-group form-check">
        <input style="display:none" name="title" type="checkbox" class="form-check-input" id="title">
    </div>
    <div class="form-group form-check">
        <input style="display:none" name="name" type="checkbox" class="form-check-input" id="name">
    </div>
    <div class="form-group form-check">
        <input style="display:none" name="email" type="checkbox" class="form-check-input" id="email">
    </div>

    <div class="form-group form-check">
        <input style="display:none" name="tech" type="checkbox" class="form-check-input" id="tech">
    </div>
    <div class="form-group form-check">
        <input style="display:none" name="desc" type="checkbox" class="form-check-input" id="desc">
    </div>
    <div class="form-group form-check">
        <input style="display:none" name="social" type="checkbox" class="form-check-input" id="social">
    </div>

    <div class="form-group form-check">
        <input style="display:none" name="url" type="checkbox" class="form-check-input" id="url">
    </div>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
</form>