{% extends "Profiles/base_edit_section.html" %}

{% block titlePage %} Profiles List{% endblock titlePage %}


{% block content %}
{% if request.user.is_authenticated %}
<a href="{% url 'logout' %}" class="btn btn-outline-danger">Log out</a>
{% else %}
<a href="{% url 'login2' %}" class="btn btn-outline-primary">Log in</a>
{% endif %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">        
          <input id="table_title" name="title" value="True" type="checkbox" class="form-check-input" >
          Full name
        </th>
        <th scope="col">
          <input id="table_desc" name="desc" value="True" type="checkbox" class="form-check-input" >
          Job Title
        </th>        
        <th>Created</th>

      </tr>
    </thead>
    <tbody>
      {% for profile in profiles %}
        <tr class="">
            <th scope="row">{{profile.user.id}}</th>
            <td><a href="{% url 'frontpage' profile.user.username %}">{{profile.user.get_full_name}}</a></td>
            <td>{{profile.job_title}}</td>
            <td>{{profile.created}}</td>
            <td>{{obj.data_type}}</td>            
        </tr>
      {% endfor %}    
    </tbody>
  </table>
{% endblock content %}
