{% extends "Profiles/basemine.html" %}
{% load static %}


{% load crispy_forms_tags %}
{% load widget_tweaks  %}

{% block title %} {{request.user}} Profile {% endblock title %}

{% block content %}
<div id="page-wraper">
    <section class="section contact-me" data-section="section4">
        <div class="container">
          {% include 'Profiles/partials/messagesBase.html' %}  
          <div class="section-heading">
            <h2>{{request.user}}</h2>
            <div class="line-dec"></div>
            <!--img src="{{img.url}}"  /-->
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="." method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        
                        <div class="col-md-6">                
                            <fieldset>
                                {{form}}
                            </fieldset>
                            
                        </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <fieldset>
                          {{form_profile}}
                        </fieldset>
                      </div>
                      <div class="col-md-12">
                        <fieldset>                          
                            {{config_form}} 
                            
                            <div >
                              <label for="head">background color</label>
                              
                              <input value="{% if not config_form.backColor.value == '' %}#{{config_form.backColor.value}}{% endif %}" style="width: 100px;" required type="color" id="id_myColor" name="myColor">
                              
                            </div>                                 
                        </fieldset>
                      </div>
                    </div>
                    <button type="submit" id="form-submit" class="button">
                      Save
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
    </section>
</div>

{% endblock content %}


{% block scripts %}
  <script>
    
    id_myColor.addEventListener("input", (event)=>{
      id_backColor.value=event.target.value.slice(1)
    });
    id_myColor.addEventListener("change", watchColorPicker, false);

    function watchColorPicker(event) {
      id_backColor.value=event.target.value.slice(1)
      console.log(event.target.value)
    }
    window.addEventListener('load',()=>{
      //location.reload(true);
    })
    
  </script>
{% endblock scripts %}
  
