{% extends "Profiles/base_edit_section.html" %}

{% block titlePage %} Read more section detail{% endblock titlePage %}
{% block content %}
<div>
  <button type="button" 
  onclick="Adddata(event)"  
  data-toggle="modal" 
  data-target="#exampleModalCenter" 
  class="btn btn-outline-primary btn-lg btn-block">Add</button>
  {% include 'Profiles/partials/add_modal.html' %}
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">        
        <input id="table_title" name="title" value="True" type="checkbox" class="form-check-input" >
        title
      </th>
      <th scope="col">
        <input id="table_description" name="description" value="True" type="checkbox" class="form-check-input" >
        description
      </th>
      <th scope="col">actions</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in object_list %}
      <tr>
        <th scope="row">{{obj.id}}</th>
        <td>{{obj.title}}</td>
        <td>{{obj.description}}</td>
        <td>
          {% if obj.profile.user == request.user %}
            <button type="button" onclick="getdata(event,'{{obj.id}}')"  data-toggle="modal" data-target="#exampleModalCenter{{obj.id}}" class="btn btn-info">Edit</button>            
            {% include 'Profiles/modalActions.html' %}

            <button type="button" onclick="deleteData(event,'{{obj.id}}')"  data-toggle="modal" data-target="#delete_exampleModalCenter{{obj.id}}" class="btn btn-danger">Delete</button>
            {% include 'Profiles/Partials/modal_del_base.html' %}

            
            

          {% endif %}
        </td>
      </tr>      
    {% endfor %}    
  </tbody>
</table>
{% endblock content %}


{% block scripts %}
  <script>
    function deleteData(event,id){
        
    }



    function getdata(event, id){
      let url = `{% url 'readmore_edit_view' %}`
      url += `?oid=${String(id)}`
      
      fetch(url,{
        method: 'GET',
        headers:{
          'Content-Type': 'application/json',
          'X-Requested-With': 'XMLHttpRequest',
          //'X-CSRFToken': '{{csrf_token}}'
        }
      })
      .then((response)=>{
        return response.json()
      })
      .then((result)=>{        
        //console.log('res: ',result)
        fillForm(result['readMore'])    
      })
      .catch((error)=>{
        console.error(error.error)
      })      
    }

    function fillForm(obj)
    {

      document.getElementById(`{{form.title.name}} ${obj.id}`).value = obj.title
      document.getElementById(`{{form.description.name}} ${obj.id}`).value = obj.description
      document.getElementById(`{{form.section_type.name}} ${obj.id}`).value=obj.section_type
      document.getElementById(`{{form.left_rigth.name}} ${obj.id}`).value=obj.left_rigth
      //document.getElementById(`{{form.image.name}} ${obj.id}`).value=obj.image
      document.getElementById(`{{form.id.name}} ${obj.id}`).value=obj.id
    }
    /*
    document.getElementById('id_submit').addEventListener('click',(event)=>{
      //event.preventDefault()
      //alert('jajajasj')
    })*/




    let table_title =document.getElementById('table_title')
    let table_desc = document.getElementById('table_description')

    table_title.addEventListener('click',(event)=>{      
      document.getElementById('title').checked=table_title.checked ? true : false      
    })
    
    table_desc.addEventListener('click',(event)=>{      
      document.getElementById('description').checked=table_desc.checked ? true : false      
    })

    

  </script>


{% endblock scripts %}
  