<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="/">Profiles</a>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_list_view' %}">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'socials_view' %}">Socials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'readmore_view' %}">Read More Section</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'techs_view' %}">Tech Types</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'workimages_view' %}">Work Images</a>
        </li>
        {% if request.user.is_superuser %}
          <li class="nav-item">
            <a class="nav-link" href="/admin" target="_blank">Admin site</a>
          </li>  
        {% endif %}
{% comment %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Groups
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            {% for app in app_labels %}
              <a class="dropdown-item" href="{% url 'Group_Add_View' app.app_label %}">{{app.app_label}}</a>
              <div class="dropdown-divider"></div>
            {% endfor %}

          </div>
        </li>
{% endcomment %}
        <!-- Split dropup button -->
        <li class="nav-item dropdown">
          <div class="btn-group">
            <a href="{% url 'list_group' %}" class="nav-link">Group List</a>
            <!--separator-->        
            <a class="btn dropdown-toggle dropdown-toggle-split"data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="sr-only">Toggle Dropdown</span></a>
            <div class="dropdown-menu">
              
              
              {% for app in app_labels %}
                <a class="dropdown-item" href="{% url 'Group_Add_View' app.app_label %}">{{app.app_label}}</a>
                <div class="dropdown-divider"></div>
              {% endfor %}
            </div>
          </div>
        </li>
        
      </ul>
      {% include "Profiles/partials/search_form.html" %}
    </div>
  </nav>